.high {
	background-color: #edd;
}

.medium {
	background-color: cornsilk;

}

.low {
	background-color: #ded;
}

td {
	position: relative;
	padding: 5px 10px;
}

.strikeout td:before {
	content: " ";
	position: absolute;
	top: 50%;
	left: 0;
	border-bottom: 1px solid #111;
	width: 100%;
}
